/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Duru+Sans&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

/* Colour palette */
:root {
    --primary-font: "Didact", sans-serif;
    --secondary-font: "Sansita", sans-serif;
    --accent-font: "Duru Sans", sans-serif;
    --playstation-blue: #2e6db4;
    --playstation-red: #df0024;
    --playstation-yellow: #f3c300;
    --playstation-teal: #00ab9f;
}

/* Global Styles */

body {
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 10);
    color: rgb(240, 240, 240);
    font-family: var(--accent-font);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

header {
    width: 95%;
    max-width: 790px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin: 15px 0px;
}

#frontpage-image {
    border-radius: 50%;
}

h1 {
    margin-top: 20px;
}

.share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
}

.container {
    width: 90%;
    max-width: 680px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile-1 {
    width: 100%;
    background-color: rgb(187, 187, 187);
    margin: 7px 0px;
    border-radius: 20px;
    height: 56px;
}

.tile-2 {
    width: 100%;
    background-color: rgb(40, 40, 43);
    margin: 7px 0px;
    border-radius: 20px;
    height: 56px;
}

.tile-3 {
    width: 100%;
    background-color: rgb(146, 200, 62);
    margin: 7px 0px;
    border-radius: 20px;
    height: 56px;
}

.dark {
    background-color: black;
    color: white;
}