/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Duru+Sans&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

/* Colour palette */
:root {
    --primary-font: "Didact", sans-serif;
    --secondary-font: "Sansita", sans-serif;
    --accent-font: "Duru Sans", sans-serif;
    --playstation-blue: #2e6db4;
    --playstation-red: #df0024;
    --playstation-yellow: #f3c300;
    --playstation-teal: #00ab9f;
}

/* Global Styles */

body {
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 10);
    color: rgb(240, 240, 240);
    font-family: var(--accent-font);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

header {
    width: 95%;
    max-width: 790px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin: 15px 0px;
}

h1 {
    margin: 30px 0px;
    font-size: 40px;
}

/* Button to change between dark, light, and high contrast modes */
.accessibility-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
}

.container {
    width: 90%;
    max-width: 680px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 5px 10px;
}

.image-container {
    border-radius: 125px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}

.tile {
    width: 100%;
    margin: 7px 0px;
    border-radius: 20px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#tile-1 {
    background-color: rgb(187, 187, 187);
    /*background-image: url('../images/favicon_io_playstation/playstation_icon_180.png');*/
}

#tile-2 {
    background-color: rgb(40, 40, 43);
    /*background-image: url('../images/favicon_io_playstation2/playstation_2_icon_180.png');*/
}

#tile-3 {
    background-color: rgb(146, 200, 62);
    /*background-image: url('../images/favicon_io_xbox360/xbox360_icon_180.png');*/
}

/*.tile-button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52, 52, 52);
}*/

a {
    text-decoration: none;
    color: inherit;
}

/* Dark mode */
.dark {
    background-color: black;
    color: white;
}

/* Light mode */
.light {
    background-color: white;
    color: black;
}