/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Duru+Sans&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

/* Colour palette */
:root {
    --primary-font: "Didact", sans-serif;
    --secondary-font: "Sansita", sans-serif;
    --accent-font: "Duru Sans", sans-serif;
    --playstation-blue: #2e6db4;
    --playstation-red: #df0024;
    --playstation-yellow: #f3c300;
    --playstation-teal: #00ab9f;
    --primary-colour: rgb(10, 10, 10);
    --secondary-colour: rgb(240, 240, 240);
    --secondary-accent-colour: rgb(187, 187, 187);
    --primary-accent-colour: rgb(52, 52, 52);
    --playstation-grey: rgb(187, 187, 187);
    --playstation-black: rgb(40, 40, 43);
    --xbox360-green: rgb(146, 200, 62);
}

.darkmode {
    --playstation-blue: #2e6db4;
    --playstation-red: #df0024;
    --playstation-yellow: #f3c300;
    --playstation-teal: #00ab9f;
    --secondary-colour: rgb(10, 10, 10);
    --primary-colour: rgb(240, 240, 240);
    --primary-accent-colour: rgb(187, 187, 187);
    --secondary-accent-colour: rgb(52, 52, 52);
    --playstation-grey: rgb(187, 187, 187);
    --playstation-black: rgb(40, 40, 43);
    --xbox360-green: rgb(146, 200, 62);
}

/*.highcontrast {
--playstation-blue-hc: rgb(0, 0, 255);
--playstation-red-hc: rgb(255, 0, 0);
--playstation-yellow-hc: rgb(255, 255, 0);
--playstation-teal-hc: rgb(0, 255, 255);
--secondary-colour-hc: rgb(255, 255, 255);
--primary-colour-hc: rgb(0, 0, 0);
--primary-accent-colour-hc: rgb(255, 255, 255);
--secondary-accent-colour-hc: rgb(0, 0, 0);
--playstation-grey-hc: rgb(255, 255, 255);
--playstation-black-hc: rgb(255, 255, 255);
--xbox360-green-hc: rgb(0, 255, 0);
}*/

/* Global Styles */

body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-colour);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    color: var(--primary-colour);
    font-family: var(--accent-font);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 45vw;
}

header {
    width: 95%;
    max-width: 790px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin: 50px 0px;
}

/* Button to change between dark, light, and high contrast modes */
#mode-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    background-color: var(--secondary-accent-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

#mode-button svg {
    fill: var(--primary-accent-colour)
}

#mode-button svg:last-child {
    display: none;
}

.container {
    width: 90%;
    max-width: 680px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-fluid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.image-container {
    border-radius: 125px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}

.tile {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 33.33%;
    background-repeat: no-repeat;
    background-size: cover;
}

#tile-1 {
    background-color: var(--playstation-grey);
    /*background-image: url('../images/favicon_io_playstation/playstation_icon_180.png');*/
    background-image: url("../images/frontpage_background_images/ps1_background.webp");
    background-blend-mode: color-burn;
}

#tile-2 {
    background-color: var(--playstation-black);
    /*background-image: url('../images/favicon_io_playstation2/playstation_2_icon_180.png');*/
    background-image: url("../images/frontpage_background_images/ps2_background.webp");
    background-blend-mode: overlay;
}

#tile-3 {
    background-color: var(--xbox360-green);
    /*background-image: url('../images/favicon_io_xbox360/xbox360_icon_180.png');*/
    background-image: url("../images/frontpage_background_images/xbox360_background.webp");
    background-blend-mode: multiply;
}

.tile svg {
    height: auto;
    width: 100%;
    margin: auto;
    padding: 5%;
}

.video-replacement {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    opacity: 0.7;
}